:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 50rem;
    align-content: center;
    overflow: hidden;
    padding: 4rem;
}

main {
    width: 50rem;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding-inline: 1rem;
    width: 100%;
}

#shoe-size-tag {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
    position: relative;
}